<div class="row">
		<div class="col s12 m12 l12" style="padding:0px;">
			<div class="card-panel">Exportar listas de seguidores</div>
		</div>
	</div>
<div class="container">
<div class="row" style="text-align: center;">
	<select>
		<option value="" disabled selected>Selecciona la historia</option>
		<option value="1">Alberto</option>
		<option value="2">Virginia</option>
		<option value="3">Cesar</option>
		<option value="4">Jose</option>
	</select>
	<button class="btn waves-effect cyan darken-2 waves-light" type="submit" name="action">Export
    <i class="mdi-file-cloud-download"></i>
  </button>
</div>

</div>


<script>
	$(document).ready(function() {
		$('select').material_select();
	});
</script>