
	
	<div class="row">
		<div class="col s12 m12 l12" style="padding:0px;">
			<div class="card-panel">Lista de inscritos al reto</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<ul class="collapsible" data-collapsible="accordion">
				<li ng-repeat="user in users">
					<div class="collapsible-header"><i class="mdi-image-portrait"></i>{{user.name}} {{user.last_name}} - <strong>edad</strong></div>
					<div class="collapsible-body">
					<p class="col m12 correo"><strong>EMAIL</strong> : {{user.email}} </p>
					<div class="col m6 textCont">
					<h3></h3>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum libero dolorum consectetur error, recusandae explicabo quod reprehenderit dignissimos magnam harum, totam odit nisi vel corrupti dolorem, tenetur officia eveniet similique fuga autem! Blanditiis aut iusto dolor quo minus mollitia, ab libero, voluptatem laborum, et enim, quod pariatur ipsa! Sapiente, facilis!
					</div>
					<div class="col m6 textCont">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum libero dolorum consectetur error, recusandae explicabo quod reprehenderit dignissimos magnam harum, totam odit nisi vel corrupti dolorem, tenetur officia eveniet similique fuga autem! Blanditiis aut iusto dolor quo minus mollitia, ab libero, voluptatem laborum, et enim, quod pariatur ipsa! Sapiente, facilis!
					</div>
					</div>

				</li>

			</ul>
		</div>
	</div>

	<script>   $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });</script>