<div class="row">
	<div class="col s12 m12 l12" style="padding:0px;">
		<div class="card-panel">Dashboard: estadisticas de inscritos al reto</div>
	</div>
</div>
<div class="container">
	<div class="row">

		<div class="col s12 m6">
			<div class="card grey lighten-4" id="delivered">
				<div class="card-content grey-text">
					<span class="card-title grey-text">Total inscritos</span><li class="divider" style="margin-bottom:10px; margin-top:5px;"></li>
					<p class="result">{{users.length}}</p>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div id="grafInscritos" class="col s12">
				<div kendo-chart data-k-options='createGrafInscritos' k-data-source="graphicsData"></div>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col s12 m12 l12" style="padding:0px;">
		<div class="card-panel">Dashboard: datos de follow y unfollow</div>
	</div>
</div>
<div class="container">

	<div class="row">

		<div class="col s12 m6 offset-m3">
			<div class="card grey lighten-4" id="delivered">
				<div class="card-content grey-text">
					<span class="card-title grey-text">FOLLOWS</span><li class="divider" style="margin-bottom:10px; margin-top:5px;"></li>
					<p class="result">{{follows.length}}</p>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
		</div>

	</div>

	<div class="row">

		<!-- container beto -->
		<div class="col s12 m3 center">
			<img src="../img/beto.png" alt="">
			<div class="card grey lighten-4" id="delivered">
				<div class="card-content grey-text">
					<span class="card-title grey-text">FOLLOWS</span><li class="divider" style="margin-bottom:10px; margin-top:5px;"></li>
					<p class="result">{{(follows | filter: { following : 'Alberto' }).length}}</p>
				</div>
			</div>
			<div id="grafBeto">
			</div>
		</div>

		<!-- container virginia -->
		<div class="col s12 m3 center">
			<img src="../img/virginia.png" alt="">
			<div class="card grey lighten-4" id="delivered">
				<div class="card-content grey-text">
					<span class="card-title grey-text">FOLLOWS</span><li class="divider" style="margin-bottom:10px; margin-top:5px;"></li>
					<p class="result">{{(follows | filter: { following : 'Virginia' }).length}}</p>
				</div>
			</div>
			<div id="grafVir">
			</div>
		</div>

		<!-- container cesar -->
		<div class="col s12 m3 center">
			<img src="../img/cesar.png" alt="">
			<div class="card grey lighten-4" id="delivered">
				<div class="card-content grey-text">
					<span class="card-title grey-text">FOLLOWS</span><li class="divider" style="margin-bottom:10px; margin-top:5px;"></li>
					<p class="result">{{(follows | filter: { following : 'Cesar' }).length}}</p>
				</div>
			</div>
			<div id="grafCesar">
			</div>
		</div>

		<!-- container jose -->
		<div class="col s12 m3 center">
			<img src="../img/jose.png" alt="">
			<div class="card grey lighten-4" id="delivered">
				<div class="card-content grey-text">
					<span class="card-title grey-text">FOLLOWS</span><li class="divider" style="margin-bottom:10px; margin-top:5px;"></li>
					<p class="result">{{(follows | filter: { following : 'Jose' }).length}}</p>
				</div>
			</div>
			<div id="grafJose">
			</div>
		</div>
		<div class="col s12 m12">
			<div id="grafParticipantes" class="col s12">
				<div kendo-chart data-k-options='createGrafParticipantes' k-data-source="graphicsDataPaticipantes"></div>
			</div>
		</div>


	</div>
</div>