<div class="row">
		<div class="col s12 m12 l12" style="padding:0px;">
			<div class="card-panel">Exportar listas de seguidores</div>
		</div>
	</div>
<div class="container">
<div class="row" style="text-align: center;">
	<select ng-model="historia_sel">
		<option value="" disabled selected>Selecciona la historia</option>
		<option value="alberto">Alberto</option>
		<option value="virginia">Virginia</option>
		<option value="cesar">Cesar</option>
		<option value="jose">Jose</option>
	</select>
	<a href="/reto21dias2015/public/index.php/export_followers/{{historia_sel}}"><button class="btn waves-effect cyan darken-2 waves-light" type="submit" name="action">Exportar {{historia_sel}}
    <i class="mdi-file-cloud-download"></i>
  </button></a>
</div>

</div>


<script>
	$(document).ready(function() {
		$('select').material_select();
	});
</script>