
	
	<div class="row">
		<div class="col s12 m12 l12" style="padding:0px;">
			<div class="card-panel">Lista de inscritos al reto</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="filterGroup col m3">
				<p>Ordenar por edad:</p>
				<a ng-click="sort = 'dob'; reverse=true" class="btn-floating btn-large waves-effect waves-light cyan darken-2"><i class="mdi-editor-vertical-align-bottom"></i></a>
				<a ng-click="sort = 'dob'; reverse=false" class="btn-floating btn-large waves-effect waves-light cyan darken-2"><i class="mdi-editor-vertical-align-top"></i></a>
			</div>
			<div class="filterGroup col m3">
				<p>Ordenar por nombre:</p>
				<a ng-click="sort = 'name'; reverse=false" class="btn-floating btn-large waves-effect waves-light cyan darken-2"><i class="mdi-editor-vertical-align-bottom"></i></a>
				<a ng-click="sort = 'name'; reverse=true" class="btn-floating btn-large waves-effect waves-light cyan darken-2"><i class="mdi-editor-vertical-align-top"></i></a>
			</div>
			<div class="filterGroup col m3">
				<p>Ordenar por fecha de creacion:</p>
				<a ng-click="sort = 'created_at'; reverse=false" class="btn-floating btn-large waves-effect waves-light cyan darken-2"><i class="mdi-editor-vertical-align-bottom"></i></a>
				<a ng-click="sort = 'created_at'; reverse=true" class="btn-floating btn-large waves-effect waves-light cyan darken-2"><i class="mdi-editor-vertical-align-top"></i></a>
			</div>
			<div class="input-field col m3" style="  margin-top: 35px;">
				<input id="first_name" ng-model="search.name" type="text" class="validate">
				<label for="first_name">Buscar</label>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<ul class="collapsible" data-collapsible="accordion">
				<li ng-repeat="user in users | filter:search:strict | orderBy:sort:reverse">
					<div class="collapsible-header"><i class="mdi-image-portrait"></i>{{user.name}} {{user.last_name}} - <strong>{{2015-(user.dob | split:'-':0)}} Años</strong><i ng-show="favorite_sel" style="color: #e53935;" class="right large mdi-action-favorite"></i></div>
					<div class="collapsible-body">
					<p class="col m12 correo"><strong>EMAIL</strong> : {{user.email}} </p>
						<p style="display: none">
							<input ng-model="favorite_sel" type="checkbox" id="favorite_{{user.id}}" />
							<label for="favorite_{{user.id}}">Favorito </label>
						</p>
					<div class="col m6 textCont">
					<h5>Descripción del reto </h5>
						{{user.challenge.description}}
					</div>
					<div class="col m6 textCont">
						<h5>Motivacion para hacer el reto</h5>
						{{user.challenge.motivation}}
					</div>
						<div class="col m12 textCont">
							<h5>Que necesita para el reto:</h5>
							{{user.challenge.help_request}}
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>

	<script>   $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

  });</script>