.card-panel {
	margin: 0 !important;
	font-size: 24px;
	background-color: rgb(79, 79, 79) !important;
	background-repeat: repeat;
	color: white;
	border-radius: 0px !important;
	text-align: center;
}

.tabs a{
	color: #1FBECA !important;
}

.tabs .indicator {
	background-color: #1FBECA !important;
}

.collapsible li:nth-child(2n) .collapsible-header{
	background: whitesmoke;
}

.correo{
	padding: 20px !important;
	border-left: solid 10px rgb(31, 190, 202);
}

.textCont{
	padding: 30px !important;
}

.graf {
  margin-top: -70px;
}

.card{
	z-index: 2;
}